.msg_text {
	line-height: 1.5em;
	margin-bottom: 0px;
	padding-left: 3em;
}

#chat {
	padding: 0px;
}

#chat .label-black {
	background:#0f0f0f;
	width: 3em;
	height: 3em;
	box-sizing: border-box;
	margin-left: 0.2em;
	margin-top: 0.2em;
    background:url(../images/chat_user.png) no-repeat;
	background-size: 100%;

}

.user_name {
	text-transform:capitalize;
    font-weight: bold;
}