#leftContainer {
	box-sizing:border-box; 
	width: 20%;
	height: 650px;
	position: relative;
	float: left;
	border: 5px solid #DFDFDF;
	min-height: 650px;

}

#middleContainer {
	box-sizing:border-box; 
	/* width: 75%; */
	height: 650px;
	position: relative;
	float: left;
	min-height: 650px;
	margin-left: 0px;

}

#rightContainer {
	box-sizing:border-box; 
	/* width: 25%; */
	height: 650px;
	position: relative;
	float: left;
	min-height: 650px;
	margin-left: 0px;

}

#top_liveView {
	width: 100%;
	text-align: center;
	margin: 2px;
	background-color: #F0F0F0;
	display: none;
}

#recordStatus {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.recordStatus_On{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.recordStatus_Off {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#liveView {
	height: 100%;
}

#recordingView {
	height: 100%;
	width: 100%;
}

#optionView {
	height: 100%;
	width: 100%;
}

.recording {
	position: absolute;
	top:0px;
	left:0px;
}

.option_button {
	width: 60%;
	height: 100px;
	font-size: 2em;
	text-align: center;
	line-height: 100px;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 1%;
}

.playback_button {
	margin-top: 10%;
}

.playback_button, .live_button{
	border: 2px solid #373a47;
	color: #373a47;
	border-radius: 5px;
}

.playback_button:hover, .live_button:hover  {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #373a47;
	cursor: pointer;
}

#sectionContainer {
	width: 100%;
	height: 50px;
}

#sectionContainer .section {
	box-sizing:border-box; 
	background-color: #F0F0F0;
	border: 1px solid #373a47;
	width: 10%;
	margin: 5px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	float: left;
}

#sectionContainer .section:hover  {
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #373a47;
	cursor: pointer;
}

#webinar_buttons {
	box-sizing:border-box; 
	width: 100%;
	padding-left: 1%;
	overflow:auto;
	visibility: hidden;
}

#std_button {
	box-sizing: border-box;
	width: 33%;
	float:left;
	height: auto;
}

.fullscreen_button {
    background:url(./images/fullscreen_button.png) no-repeat;
	background-size: 100%;
	height: 65vw;
}

.quiz_button {
    background:url(./images/quiz_button.png) no-repeat;
	background-size: 100%;
	height: 65vw;
}	

.leave_button {
    background:url(./images/leave_button.png) no-repeat;
	background-size: 100%;
	height: 65vw;
}

.fullscreen_button:hover {
    background:url(./images/fullscreen_button_down.png) no-repeat;
	background-size: 100%;
	height: 65vw;
}

.quiz_button:hover {
    background:url(./images/quiz_button_down.png) no-repeat;
	background-size: 100%;
	height: 65vw;
}	

.leave_button:hover {
    background:url(./images/leave_button_down.png) no-repeat;
	background-size: 100%;
	height: 65vw;
}

#chat_module {
	height: 600px;
	box-sizing: border-box;
	padding: 1%;
}

#chat {
	border: 2px solid #42444C;
	overflow-y:auto;
}

.session_no_record {
	padding: 50px;
	text-align: center;
	font-size: 20px;
	color: #42444C
}

.backG {
-webkit-box-shadow: 0px 8px 13px -2px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 8px 13px -2px rgba(0,0,0,0.54);
box-shadow: 0px 8px 13px -2px rgba(0,0,0,0.54)
}
